.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-input,
.form-textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--third-color);
  font-family: var(--main-font);
}

.form-textarea {
  height: 60px;
  resize: vertical;
}

.input-error {
  border: 2px solid var(--hover-color);
}

.form-actions {
  display: flex;
  gap: 10px;
}

.form-button {
  font-size: 1rem;
  border: none;
  cursor: pointer;
  width: 80px;
}

.form-button-submit {
  background-color: var(--second-color);
  color: var(--fifth-color);
}

.form-button-reset {
  background-color: var(--hover-color);
  color: var(--second-color);
}

.form-button:hover {
  opacity: 0.9;
}

.toasty {
  position: fixed;
  bottom: 50px;
  right: -200px;
  transition: transform 0.5s ease-in-out;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.toasty-img {
  width: 150px;
}

.hidden {
  transform: translate(0, 0);
}

.show {
  transform: translate(-200px);
}
