<section>
  <header>
    <h2>Add a new entry:</h2>
    <form>

      <label for="entry-text">Entry:</label>
      <input type="textarea" id="entry-text" name="entry-text" placeholder="What's on your mind?" [(ngModel)]="new_entry.message">

      <label for="entry-author">Author:</label>
      <input type="text" id="entry-author" name="entry-author" placeholder="Sign your words" [(ngModel)]="new_entry.name">

      <p>Preview:</p>
      <p>{{ new_entry.message }}</p>
      <p>{{ new_entry.name }}</p>

      <div>
        <button (click)="saveEntry()">Save</button>
        <button (click)="cancelEntry()" routerLink="/listEntries">Cancel</button>
      </div>
    </form>
  </header>
</section>
