<div id="home" class="carousel-container">
  <button class="nav-button left" (click)="previousSlide()">
    <svg xmlns="http://www.w3.org/2000/svg" width="41" height="36" viewBox="0 0 41 36" fill="none">
      <path d="M6.87588 18.3665L33.5425 18.3665" stroke="#47C7AF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M15.2092 25.6879C15.2092 25.6879 6.8759 20.2957 6.8759 18.3664C6.8759 16.4371 15.2092 11.0451 15.2092 11.0451" stroke="#47C7AF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>

  <div class="carousel-slides">
    <div
      class="slide"
      *ngFor="let project of projects; let i = index"
      [class.active]="i === currentSlide">
      <div class="slide__content" (click)="navigateToProject(project.id)">
        <img [src]="project.imageUrl" [alt]="project.title" />
        <div class="project-info">
          <h2 class="h2-bold project-title">{{ project.title }}</h2>
          <p class="p-02 project-description">{{ project.description }}</p>
          <div class="carousel-indicators">
            <span
              class="indicator"
              *ngFor="let _ of projects; let i = index"
              [class.active]="i === currentSlide">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="nav-button right" (click)="nextSlide()">
    <svg xmlns="http://www.w3.org/2000/svg" width="41" height="36" viewBox="0 0 41 36" fill="none">
      <path d="M34.1241 18.3665L7.4574 18.3665" stroke="#47C7AF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M25.7908 11.0452C25.7908 11.0452 34.1241 16.4374 34.1241 18.3667C34.1241 20.296 25.7908 25.688 25.7908 25.688" stroke="#47C7AF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</div>
<div>
  <app-highlights></app-highlights>
</div>
