<div class="about-content">
  <div class="about-content-text">
    <p>Powered by Angular, CSS, and AWS (DynamoDB, Lambda, API Gateway and S3).</p>
  </div>
  <div class="about-content-reach">
    <h2>Reach me at:</h2>
    <a href="mailto: bruno7317@gmail.com" target="_blank">
      <img src="../../../assets/gmail.png" alt="Gmail icon" class="button-icon">
      Gmail
    </a>
    <a href="https://www.linkedin.com/in/bruno-silva-60806135/" target="_blank">
      <img src="../../../assets/linkedin.png" alt="LinkedIn icon" class="button-icon">
      LinkedIn
    </a>
    <a href="https://www.instagram.com/brunosilva3502/" target="_blank">
      <img src="../../../assets/instagram.jpeg" alt="Instagram icon" class="button-icon">
      Instagram
    </a>
  </div>
</div>
