.container {
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.picture {
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.about-content {
  width: var(--content-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  height: 80%;
}

.about-content-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 70%;
  font-size: 26px;
}

.about-title {
  color: var(--verde-100);
}

.experience {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.description {
  color: var(--branco-100);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 70px;
}

.highlight {
  color: var(--verde-100);
  font-family: var(--main-font);
  font-size: 80px;
  font-style: normal;
  font-weight: 200;
  line-height: 120%;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .container {
    height: 130vh;
  }

  .picture {
    width: 100%;
  }

  .about-content-text {
    width: 100%;
  }

  .experience {
    justify-content: space-between;
  }

  .highlight {
    font-size: 8rem;
  }

  .description {
    font-size: 1.3rem;
    width: 11vw;
  }
}

@media (max-width: 412px) {
  .highlight {
    font-size: 4rem;
  }

  .description {
    font-size: 1rem;
    width: 18vw;
  }
}
