.container {
  display: flex;
  height: 700px;
  justify-content: center;
}

.picture {
  border-radius: 15px;
  width: 500px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.about-content {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.about-content-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 70%;
  font-size: 26px;
}

.about-title {
  color: var(--verde-100);
}

.experience {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.description {
  color: var(--branco-100);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 70px;
}
