<section class="container">
  <div class="about-content">
    <img class="picture" src="/assets/images/ai_portrait.webp" alt="A professional picture of Bruno DeSousi">
    <div class="about-content-text">
      <h2 class="h2-bold about-title">About me</h2>
      <p class="p-02">
        A Calgary-based software developer passionate about creating impactful solutions.
        With expertise in full-stack and cloud development, I enjoy tackling complex challenges and building intuitive, efficient systems.
        Outside of work, I'm a dedicated home cook, creating delicious meals for my wife and myself.
      </p>
      <ul class="experience">
        <li>
          <h2 class="highlight">13</h2>
          <p class="description">Years as developer</p>
        </li>
        <li>
          <h2 class="highlight">5</h2>
          <p class="description">Years in frontend</p>
        </li>
        <li>
          <h2 class="highlight">11</h2>
          <p class="description">Years in backend</p>
        </li>
      </ul>
    </div>
  </div>
</section>
