.container {
  opacity: 1;
  z-index: 4;
  background: var(--cinza-600);
  display: flex;
  justify-content: center;
  height: 100px;
}

.navbar {
  position: relative;
  display: flex;
  width: var(--content-width);
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  display: flex;
  gap: 60px;
}

.navbar a:hover svg path {
  stroke: var(--verde-100);
}
