<section>
  <header>
    <h2>Add a new entry:</h2>
    <form>

      <label for="entry-text">Entry:</label>
      <input type="textarea" id="entry-text" name="entry-text" placeholder="What's on your mind?" [(ngModel)]="entry.entry_text">

      <label for="entry-author">Author:</label>
      <input type="text" id="entry-author" name="entry-author" placeholder="Sign your words" [(ngModel)]="entry.entry_author">

      <div>
        Font:
        <input type="radio" name="entry-font" id="helvetica" value="helvetica" [(ngModel)]="entry.entry_font">
        <label for="helvetica" style="font-family: helvetica;">Helvetica</label>
        <input type="radio" name="entry-font" id="georgia" value="georgia" [(ngModel)]="entry.entry_font">
        <label for="georgia" style="font-family: georgia;">Georgia</label>
        <input type="radio" name="entry-font" id="garamond" value="garamond" [(ngModel)]="entry.entry_font">
        <label for="garamond" style="font-family: garamond;">Garamond</label>
      </div>

      <p>Preview:</p>
      <p>{{ entry.entry_text }}</p>
      <p>{{ entry.entry_author }}</p>
      <p>{{ entry.entry_font }}</p>

      <div>
        <button (click)="updateEntry()">Save</button>
        <button (click)="cancel()" routerLink="/listEntries">Cancel</button>
      </div>
    </form>
  </header>
</section>
