@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --cinza-100: #BABCBC;
  --cinza-200: #7C7C84;
  --cinza-300: #7E8181;
  --cinza-400: #40404A;
  --cinza-500: #34343C;
  --cinza-600: #1F1F24;
  --azul-100: #9DC1E1;
  --azul-200: #87B1DF;
  --azul-300: #556BA4;
  --azul-400: #2A3F57;
  --verde-100: #47C7AF;
  --verde-200: #498C80;
  --verde-300: #236256;
  --verde-400: #143B33;
  --branco-100: #F9F9F9;

  --Headline-Large-Size: 32px;
  --Headline-Large-Line-Height: 40px;
  --Headline-Large-Tracking: 0px;

  --sds-typography-subtitle-size-base: 32px;

  --main-font: Inter;
}

.hero {
  color: var(--branco-100);
  font-family: var(--main-font);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -2.4px;
}

h1 {
  color: var(--verde-100);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-size: 1rem;
}

.h2-bold {
  color: var(--branco-100);
  font-family: var(--main-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.h2-semibold {
  color: var(--branco-100);
  font-family: var(--main-font);
  font-size: var(--Headline-Large-Size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Headline-Large-Line-Height);
  letter-spacing: var(--Headline-Large-Tracking);
}

h3 {
  color: var(--cinza-500);
  font-family: var(--main-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.highlight {
  color: var(--verde-100);
  font-family: var(--main-font);
  font-size: 80px;
  font-style: normal;
  font-weight: 200;
  line-height: 120%;
}

.p-03 {
  color: var(--verde-100);
  font-family: Inter;
  font-size: var(--sds-typography-subtitle-size-base);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.p-02 {
  color: var(--branco-100);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: var(--Headline-Large-Tracking);
}

.p-01 {
  color: var(--cinza-500);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: var(--Headline-Large-Tracking);
}

.description {
  color: var(--branco-100);
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.detail {
  color: var(--cinza-100);
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

a {
  color: var(--cinza-100);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

a:hover {
  font-weight: 700;
  color: var(--verde-100);
}
