<div class="container">
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="macbook"></div>
  <div class="intro__background">
    <section class="intro">
      <h1 class="h1">Hi, I'm</h1>
      <p class="hero">Bruno DeSousi</p>
      <p class="p-03">Full-Stack Software Developer</p>
      <p class="p-02 intro__pitch">
        I design, build and deploy software that helps businesses solve complex challenges and achieve their goals.
      </p>
    </section>
  </div>
  <div class="home__background">
    <app-carousel></app-carousel>
  </div>
  <app-about id="about"></app-about>
</div>
