.container {
  display: flex;
  flex-direction: column;
  background: var(--cinza-500);
}

.hero {
  color: var(--branco-100);
  font-family: var(--main-font);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -2.4px;
}

.p-03 {
  color: var(--verde-100);
  font-family: var(--main-font);
  font-size: var(--sds-typography-subtitle-size-base);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.intro__background {
  background: linear-gradient(180deg, rgba(64, 64, 74, 0.00) 0%, #40404A 124.73%);
  background-blend-mode: multiply;
  height: 900px;
  display: flex;
  justify-content: center;
}

.intro {
  z-index: 5;
  padding: 200px 0;
  width: var(--content-width);
}

.intro__pitch {
  padding-top: 32px;
  width: 50%;
}

.circle-1 {
  top: -110px;
  left: 80px;
  position: absolute;
  width: 1681.253px;
  height: 1681.253px;
  border-radius: 50%;
  flex-shrink: 0;
  opacity: 0.15;
  background: var(--cinza-400);
  z-index: 1;
}

.circle-2 {
  top: 200px;
  left: 400px;
  position: absolute;
  border-radius: 50%;
  width: 1065.349px;
  height: 1065.349px;
  flex-shrink: 0;
  opacity: 0.25;
  background: var(--cinza-400);
}

.macbook {
  position: absolute;
  top: 0px;
  width: 1800px;
  height: 2000px;
  background-image: url('/assets/images/macbook.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0.7;
  mask-image: linear-gradient(to bottom, black, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  mask-size: 100% 60%;
  -webkit-mask-size: 100% 60%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  pointer-events: none;
}

.home__background {
  position: relative;
  z-index: 2;
  background: var(--cinza-600);
  height: 800px;
}

@media screen and (max-width = 1024px) {

}
