<div class="home-container">
  <section class="projects-section">
    <h1>My Projects</h1>
    <!-- <swiper [slidesPerView]="5" [spaceBetween]="10" [navigation]="true" class="mySwiper">
      <div *ngFor="let project of projects" class="swiper-slide">
        <img [src]="project.imageUrl" alt="{{ project.title }}">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
      </div>
    </swiper> -->
  </section>

  <section class="guestbook-section">
    <h2>Guestbook</h2>
    <app-list-entries></app-list-entries>
  </section>
</div>
