.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--cinza-500);
}

.intro__background {
  background: linear-gradient(180deg, rgba(64, 64, 74, 0.00) 0%, #40404A 124.73%);
  background-blend-mode: multiply;
  height: 900px;
}

.intro {
  position: relative;
  z-index: 3;
  padding-left: 230px;
  padding-top: 200px;
  padding-bottom: 150px;
  width: 600px;
}

.intro__pitch {
  padding-top: 5%;
}

.circle-1 {
  top: -110px;
  left: 80px;
  position: absolute;
  width: 1681.253px;
  height: 1681.253px;
  border-radius: 50%;
  flex-shrink: 0;
  opacity: 0.15;
  background: var(--cinza-400);
  z-index: 1;
}

.circle-2 {
  top: 200px;
  left: 400px;
  position: absolute;
  border-radius: 50%;
  width: 1065.349px;
  height: 1065.349px;
  flex-shrink: 0;
  opacity: 0.25;
  background: var(--cinza-400);
}

.macbook {
  position: absolute;
  top: 0px;
  width: 1800px;
  height: 2000px;
  background-image: url('/assets/images/macbook.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0.7;
  mask-image: linear-gradient(to bottom, black, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  mask-size: 100% 60%;
  -webkit-mask-size: 100% 60%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.home__background {
  position: relative;
  z-index: 2;
  background: var(--cinza-600);
  height: 900px;
}
